<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="GoREST API Automation Suite"
       verbose="1"
       parallel="false">

    <test name="GoREST User API Tests">
        <packages>
            <package name="io.github.rpravin86.api.config"/>
            <package name="io.github.rpravin86.api.constants"/>
            <package name="io.github.rpravin86.api.filter"/>
            <package name="io.github.rpravin86.api.tests.user.*"/>
        </packages>
    </test>

</suite>
